@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #eeeeee;
}

header {
    background-color: #1d7044;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
}

header, .Btn{
    background-color: #1d7044;
    color: #fff;
    border: none;
    padding: 10px;

}

.error {
    color: #e60e0e;
}

.succes {
    color: rgb(139, 222, 44);
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    display: block;
    margin-bottom: 5px;
}

#postPet {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

#title{
    padding-top: 30px;
}

.hidden{
    display: none;
}
